@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import "dark-theme";


* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-light: #fff;
  --text-color-light: #000;
  --bg-color-dark: #333;
  --text-color-dark: #fff;
}

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background-color .3s ease, color .3s ease;
  &.dark-theme {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
}

ul, li, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
  padding: 0;
}